pkgbase = wizard
	pkgdesc = One line. Your sovereign agent. Self-extending. Bring any model
	pkgver = 3.2.0
	pkgrel = 1
	url = https://github.com/teddytennant/wizard
	arch = x86_64
	arch = aarch64
	license = MIT AND Apache-2.0
	makedepends = cargo
	depends = gcc-libs
	depends = glibc
	options = !lto
	source = wizard-3.2.0.tar.gz::https://github.com/teddytennant/wizard/archive/refs/tags/v3.2.0.tar.gz
	sha256sums = 7a45b1db07c2bc6f9820b95b834c9059b61b4ba8e3f916c19baba76e8d038749

pkgname = wizard
