pkgbase = wizard
	pkgdesc = One line. Your sovereign agent. Self-extending. Bring any model
	pkgver = 3.6.1
	pkgrel = 1
	url = https://github.com/teddytennant/wizard
	arch = x86_64
	arch = aarch64
	license = MIT AND Apache-2.0
	makedepends = cargo
	depends = gcc-libs
	depends = glibc
	options = !lto
	source = wizard-3.6.1.tar.gz::https://github.com/teddytennant/wizard/archive/refs/tags/v3.6.1.tar.gz
	sha256sums = 8e87534f7d1ed56d0ef8524cb0766f0207bd8fb3fc9fc79783e123234a8cf691

pkgname = wizard
