pkgbase = wizard
	pkgdesc = One line. Your sovereign agent. Self-extending. Bring any model
	pkgver = 3.5.1
	pkgrel = 1
	url = https://github.com/teddytennant/wizard
	arch = x86_64
	arch = aarch64
	license = MIT AND Apache-2.0
	makedepends = cargo
	depends = gcc-libs
	depends = glibc
	options = !lto
	source = wizard-3.5.1.tar.gz::https://github.com/teddytennant/wizard/archive/refs/tags/v3.5.1.tar.gz
	sha256sums = 3d9ede561ff2650b1bd6355eb1d6940d1d5c25077c3648b6022f2e89bc6381a1

pkgname = wizard
